/* variável para a cor da animação de pulsação*/

:root {
    
    --cardLetters: #ffffff;
    --pageLinks: rgba(0,0,0,.5);
    --cardBG: #1C252E;
    --pageLinksHover: #E63F67;
}

/* ======================= */

.bgimage{
    position: relative;
    background-image: url("../../assets/bck_1.png");
    height: 450px;
    
}

.logoNav{

    height: 50px;
    width: 50px;
}


.mensagem {

    position: absolute;
    margin-top: 20vh;
    margin-left: 35vw;
    text-align: center;
    color: var(--cardLetters);
    
}

.mensagem h2 {

    font-size: 2rem;
    font-weight: bold;
}

.mensagem p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: lighter;
}

.bodyContainer {

    position: absolute;
    top:0;
    margin-top: 45vh;
    
    
}
.salasContainer{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
}

.conteudoContainer {
    margin: 0;
    grid-column: 2/3;
}

.voceEsta {
    position: absolute;
    top:0;
    margin-top:35rem;
    margin-left: 75vw;
    text-align: left;
    font-size: large;
    color: white;
    
}


input {
    border: 1px solid black;
    border-radius: 30px;
    outline: none;
    text-align: center;
}


.voltarUnidade{

    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 3rem;
    color: var(--pageLinks);
}

.voltarUnidade:hover{
    color: var(--pageLinksHover);
}


/* ======= MEDIA QUERY PARA AJUDAR NA RESPONSIVIDADE DO NAVBAR========*/

@media screen (max-width: 450px) {
  

    .voceEsta {
        position: absolute;
        bottom: 0;
        text-align: left;
        font-size: large;
        margin: 0;
    }

    .sala {
    
        padding-left: 0;
        padding-right: 12rem ;  
        width: 100%;
    }
    
    .sala h2{
    
        padding-left: 1rem;
        width: 100%;
      
    }

}

@media only screen and ( max-width: 768px) {

    
}