@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

body {
    background-color: #ebebeb;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
} 

h2 {
    font-size: 32px;
}

label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }
 
 #upload-photo {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

.wrapperNome{

    height: 3rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.wrapperNome input {
     
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
}

.wrapperNome label {
    
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
    color: black;
}

.wrapperNome label::after {

    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid rgb(16, 70, 248);
    bottom: -2px;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.contentNome {

    position: absolute;
    bottom: -3px;
    left: 0;
    transition: all 0.3s ease;
    color: rgb(156, 154, 154);
}

.wrapperNome input:focus + .labelNome .contentNome,
.wrapperNome input:valid + .labelNome .contentNome{

    transform: translateY(-130%);
    color:rgb(16, 70, 248);
}

.wrapperNome input:focus + .labelNome::after,
.wrapperNome input:valid + .labelNome::after{

    transform: translateX(0%);
}