.container {

    
}

.greetings{
    margin: 2rem auto;
    text-align: center;
}

.option {

    min-width: 19rem;
    min-height: 19rem;
    max-width: 19rem;
    max-height: 19rem;

    margin: 2rem;

    line-height: 19rem;
    width: 19rem;
    text-align: center;
}


