
:root {
    --cardLetters: #ffffff;
    --pageLinks: rgba(0,0,0,.5);
    --cardBG: #1C252E;
    --buttonBG: #E63F67;
    --buttonBGHover:#A82746;
    --blackoutColor: rgba(230, 63, 103, .8);

}

.logoNav{

    height: 50px;
    width: 50px;
}

.background {

    height: 26rem;
    background-image: url("../assets/bck_1.png");
}

p {
    font-size: 26px;
    font-weight: 100;
    margin-top: -50px;
    padding-bottom: 50px;
}

h3 {
    font-size: 24px;
}

.greetings{

    color: var(--cardLetters);
    font-weight: bold;
    margin: 2rem auto;
    text-align: center;
}

.body{
    position: absolute;
    top: 0;
    margin: 20vh 30vw;
}

.option {

    color: var(--cardLetters);
    background-color: var(--buttonBG);
    min-width: 19rem;
    min-height: 310px;
    max-width: 19rem;
    max-height: 304px;

    line-height: 310px;
    margin: 2rem;
    width: 19rem;
    text-align: center;

    border-radius: 10px;

    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--pulseColor);
}

70% {
    transform: scale(1.025);
    box-shadow: 0 0 0 5px var(--blackoutColor);
}

100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(94,64,179, 0);
}
}

.option:hover {
    background-color: var(--buttonBGHover);
}