img {
    border-radius: 50%;
    display: inline-block;
    margin-top: -13px;
    margin-left: -20px;
}

h3 {
    margin-bottom: 10px;
}

.corBotoes {
    font-size: 14px;
    padding: 10px 70px;
    margin-left: 100px;
}

#conteudo3 {
    display: inline-block;
    margin-left: -100px;
}

#conteudo, #conteudo1, #conteudo2,
#conteudo3, #conteudo4 {
    font-size: 18px;
}

.container{
    border: 1px solid black;
    background: white;
    padding: 60px;
    border-radius: 30px;
}

hr {
    width:100%;
    height: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #5e40b3;
}
