

h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

hr {
    width:100%;
    height: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgb(243, 241, 241, 0.1);
    border-radius: 30px;
}

.minhaVez {
    background-color: #1B9D42;
    width: 100%;
    display: inline-block;
}

.minhaVez:hover {
    background-color: rgb(20, 117, 49);
}

.botaoDesistir {

    width: 20rem;
    height: 3rem;
    margin: 1rem auto;
    line-height: 3rem;
    color: white;
    background-color: red;
}

.botaoDesistir:hover{
    background-color: rgb(184, 2, 2);
}


#conteudo2 {

    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
    
}

.userDiv{

    grid-column: 1/2;

    display: grid;
    grid-template-columns: 60px 1fr 1fr 100px;
    min-width: fit-content;
    width: 70%;
    margin: 0 auto;
}

.userDiv img{

    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.userDiv h3,
.userDiv p {

    height: 3rem;
    line-height: 3rem;
    background-color: white;
    color: black;

    margin: auto 0;
}

.reportButton, 
.reportButton a {

    display: inline-block;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    padding-left: 0;
    margin: auto 0;
}



#conteudo {

    display: grid;
    grid-template-columns: 60px 500px;
    width: 550px;
    grid-row-gap: 1rem;
    grid-column-gap: 5px;

    margin: 0 auto;
}

#conteudo1{

    width: 100%;
    margin-top:4rem;
}


.reportar {

    background-color: #E63F67;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 4rem;
    grid-column: 3/4;
 
    
    line-height: 3rem;
}

.reportar:hover {
    background-color: rgb(173, 48, 77);
}


#estouaqui {
    background-color: #E63F67;
    padding: 3px 10px;
    margin-top: 10px;
}

#estouaqui:hover {
    background-color: rgb(173, 48, 77);
}


@media only screen and (max-width: 450px){

    .container{

        display: grid;
        grid-template-columns: 1fr;
        color: white;
        background-image: url("../assets/bck_1.png");
        
        width: 100%;
        border-radius: 30px;

    }
    #conteudo2 {

        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;

   
        
    }
    
    .userDiv{
    
        grid-column: 1/2;
    
        display: grid;
        grid-template-columns: 60px 1fr 1fr 80px;
      
    }
    
    .userDiv img{
    
        height: 60px;
        width: 60px;
        border-radius: 10px;
    }
    
    .userDiv h3,
    .userDiv p {
    
        height: 3rem;
        line-height: 3rem;
        background-color: white;
        color: black;
        min-width: fit-content;
        overflow-y: hidden;
        margin: auto 0;
    }
    
    .reportButton, 
    .reportButton a {
    
        display: inline-block;
        min-width: fit-content;
        max-width: 80px;
        height: 3rem;
        line-height: 3rem;
        padding-left: 0;
        margin: auto 0;
    }
    #conteudo {

        display: grid;
        grid-template-columns: 60px 1fr 1fr;
        width: 100%;
        grid-row-gap: 1rem;
        grid-column-gap: 5px;
        margin: 0 auto;
    }

    

}


@media only screen and (max-width: 738px){
    
    .background{
        position: absolute;
        background-image: url("../assets/logo1.png");
        background-repeat: no-repeat;
        background-position: top;
        height: 100%;
        width: 100%;
    }

    .container{

        display: grid;
        grid-template-columns: 1fr;
        color: white;
        background-image: url("../assets/bck_1.png");
        height: fit-content;
        border-radius: 30px;
        
    }

    #conteudo2 {

        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        
    }
    
    .userDiv{
    
        grid-column: 1/2;
    
        display: grid;
        grid-template-columns: 60px 1fr 1fr 80px;
    
        width: 400px;
        margin: 0 auto;
    }
    
    .userDiv img{
    
        height: 60px;
        width: 60px;
        border-radius: 10px;
    }
    
    .userDiv h3,
    .userDiv p {
    
        height: 3rem;
        line-height: 3rem;
        background-color: white;
        color: black;
        min-width: fit-content;
        padding: 0 .5rem;

        overflow-y: hidden;
        margin: auto 0;
    }
    
    .reportButton, 
    .reportButton a {
    
        display: inline-block;
        min-width: fit-content;
        max-width: 80px;
        height: 3rem;
        line-height: 3rem;
        padding-left: 0;
        margin: auto 0;
    }
    #conteudo {

        display: grid;
        grid-template-columns: 60px 1fr 1fr;
        width: 100%;
        grid-row-gap: 1rem;
        grid-column-gap: 5px;
        margin: 0 auto;
    }

    

}

@media screen and (min-width: 738px){

    .background{
        position: absolute;
        background-image: url("../assets/logo1.png");
        background-repeat: no-repeat;
        background-position: top;
        height: 100%;
        width: 100%;
    }

    .container{

        display: grid;
        grid-template-columns: 1fr;
        color: white;
        background-image: url("../assets/bck_1.png");
        border-radius: 30px;

        height: 700px;
        width: 70vw;
        margin: 30vh auto;
        
    }

    #conteudo2 {

        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        
    }
    
    .userDiv{
    
        grid-column: 1/2;
    
        display: grid;
        grid-template-columns: 60px 1fr 1fr 80px;
    
        min-width: 400px;
        max-width: 500px;

        overflow-x: hidden;
        overflow-y: hidden;
        margin: 0 auto;
    }
    
    .userDiv img{
    
        height: 60px;
        width: 60px;
        border-radius: 10px;
    }
    
    .userDiv h3,
    .userDiv p {
    
        height: 3rem;
        line-height: 3rem;
        background-color: white;
        color: black;
        min-width: fit-content;
        padding: 0 .5rem;

        overflow-y: hidden;
        margin: auto 0;
    }
    
    .reportButton, 
    .reportButton a {
    
        display: inline-block;
        min-width: fit-content;
        max-width: 80px;
        height: 3rem;
        line-height: 3rem;
        padding-left: 0;
        margin: auto 0;
    }
    #conteudo {

        display: grid;
        grid-template-columns: 60px 1fr 1fr;
        width: 100%;
        grid-row-gap: 1rem;
        grid-column-gap: 5px;
        margin: 0 auto;
    }

    

}



@media only screen and (min-width: 1080px){
    
    .background{
        position: absolute;
        background-image: url("../assets/logo1.png");
        background-repeat: no-repeat;
        background-position: top;
        height: 100%;
        width: 100%;
    }
    
    .container{

        display: grid;
        grid-template-columns: 1fr;
        color: white;
        background-image: url("../assets/bck_1.png");
        border-radius: 30px;
        height: 650px;
        max-height: fit-content;
        width: 50%;
        margin: 30vh auto 5vh;
        
    }

    #conteudo2 {

        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        
    }
    
    .userDiv{
    
        grid-column: 1/2;
    
        display: grid;
        grid-template-columns: 60px 1fr 1fr 80px;
    
        min-width: 400px;
        max-width: 500px;

        overflow-x: hidden;
        overflow-y: hidden;
        margin: 0 auto;
    }
    
    .userDiv img{
    
        height: 60px;
        width: 60px;
        border-radius: 10px;
    }
    
    .userDiv h3,
    .userDiv p {
    
        height: 3rem;
        line-height: 3rem;
        background-color: white;
        color: black;
        min-width: fit-content;
        padding: 0 .5rem;

        overflow-y: hidden;
        margin: auto 0;
    }
    
    .reportButton, 
    .reportButton a {
    
        display: inline-block;
        min-width: fit-content;
        max-width: 80px;
        height: 3rem;
        line-height: 3rem;
        padding-left: 0;
        margin: auto 0;
    }
    #conteudo {

        display: grid;
        grid-template-columns: 60px 1fr 1fr;
        width: 100%;
        grid-row-gap: 1rem;
        grid-column-gap: 5px;
        margin: 0 auto;
    }

    

}



