@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');

/*
#FAA916
#5e40b3
#fcdebe
*/
h3{
    color: #5e40b3;
    font-size: 26px;
}

body {
    background:  #f2efe9;
    font-family: 'Blinker', sans-serif;
} 

.corBotoes {
    background: rgb(94,64,179);
    color: white;
    border:none;
}

.corBotoes:hover {
    background: rgb(74, 50, 139);
}

.corBotoes:active {
    border:none;
}

.corbotoesDelete {
    background: rgb(117, 80, 218);
    color: white;
    border:none;
}

.corbotoesDelete:hover {
    background: rgb(99, 68, 187);
    color: white;
}

/* Mudar a cor do input */
.min-h-screen.flex.flex-col.justify-center.items-center.pt-6.pt-0.bg-gray-100 {
    opacity: 100%;
    background: orange;
}

.painel {

    min-width: 30rem;
    min-height: 20rem;
}

.wrapperNome{

    height: 3rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.wrapperNome input {
     
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
    padding-top: 25px;
}

.wrapperNome label {
    
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
}

.wrapperNome label::after {

    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5e40b3;
    bottom: -2px;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.contentNome {

    position: absolute;
    bottom: 0px;
    left: 0;
    transition: all 0.3s ease;
    color: rgb(156, 154, 154);
}

.wrapperNome input:focus + .labelNome .contentNome,
.wrapperNome input:valid + .labelNome .contentNome{

    transform: translateY(-120%);
    color:#5e40b3;
}

.wrapperNome input:focus + .labelNome::after,
.wrapperNome input:valid + .labelNome::after{

    transform: translateX(0%);
}