* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}


.gridLogin {

    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: auto;
    
  
}


.logo {

    margin: auto;
    grid-column: 1/4;
    grid-row: 1;
}

.mb-4 { /*mensagem de erro (ainda falta arrumar)*/

    grid-column: 2/3;
    font-weight: bold;
    text-align: center;
    margin: auto;
    background-color: rgb(255, 188, 188);
    color: white;
}

.formContainer {

    grid-column: 2/3;
    
    margin: 0 auto;
    background-color: rgb(216, 213, 213);
    height: 40vh;
    min-width: 30vw;
    max-width: 60vw;

    border-radius: 40px;
    border: 3px solid rgb(165, 165, 165);

    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-rows: auto;
  
}


.formWrapper{

    margin: auto;
    grid-column: 2/3;
    grid-row: 1/2;
  
    height: auto;
    width: 80% ;

    
}

.formWrapper div {

    width: 100%;
    height: 2rem;

    margin: 1em auto;

}


.formWrapper input {

    height: 2rem;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;

}

.remember_me input {


    width: 2rem;
    grid-column: 2;
   
}

.remember_me label {

    height: 100%;
    line-height: 100%;
    text-align: center;   
       
}

.remember_me span {

    display: inline-block;
    vertical-align: middle;
 
}


.button {

    width: 100%;
    height: 2rem;
    grid-row: 5;
    outline: none;
    border: none;
    border-radius: 10px;

}

.form_links {
    grid-row: 6;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    
}

.register {
    grid-column: 1/2;
 
    width: 50%;
    text-align: left;
}

.forgot_pw {
    
    grid-column: 2/3;
    
    width: 50%;
    text-align: right;
}

.buttonVoltar {

    grid-column: 3;
    width: 7rem;
    height: 2rem;
    line-height: 2rem;/* mesmo tamanho do height max para alinhas no centro verticalmente*/
    grid-row: 4;
    margin: auto;
    text-align: center;

    outline: none;
    border: none;
    border-radius: 10px;
    background-color: ghostwhite;
  

}