* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.grid {

    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 10rem repeat(4, 1fr);
    
  
}

.logo{

    margin: auto;
    grid-column: 1/4;
    grid-row: 1;
    height: auto;
}

.menu {

    grid-row: 2/auto;
    grid-column: 2/3;
    margin: 0 20vw;
    background-color: rgb(216, 213, 213);
    max-height: rem;
    min-height: 20rem;
    min-width: 700px;
    max-width: 60vw;

    border-radius: 40px;
    border: 3px solid rgb(165, 165, 165);

    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
    grid-template-rows: auto;

}

.titleWrapper {

    grid-row: 1;
    grid-column: 1/6;
    text-align: center;
    line-height: 100%;
    margin: auto;

}

.option {

    grid-column: span 1fr;
    grid-row: span 1fr;
    border: 3px solid white;
    background-color: ghostwhite;
    max-height: 16rem;
    width: 17rem;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 10rem 2rem;
    
}


.nomeSala {
    height: 2rem;
    grid-row: 1;
    line-height: 2rem;

}

.fotoSala {

    height: 10rem;
    object-fit: cover;
    grid-row: 2;

}

.buttons{

    height: 2rem;
    grid-row: 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.buttonEnter{

    grid-row: 1;
    grid-column: 1/2;

}

.buttonDelRoom {

    height: 4rem;
    grid-column: 2/3;
    grid-row: 1;
}

.button {

    grid-column: 2/3;
    width: 7rem;
    height: 2rem;
    line-height: 2rem;/* mesmo tamanho do height max para alinhas no centro verticalmente*/
    grid-row: 4;
    margin: auto;
    text-align: center;

    outline: none;
    border: none;
    border-radius: 10px;
    background-color: ghostwhite;
  

}

.buttonVoltar {

    grid-column: 4/5;
    width: 7rem;
    height: 2rem;
    line-height: 2rem;/* mesmo tamanho do height max para alinhas no centro verticalmente*/
    grid-row: 4;
    margin: auto;
    text-align: center;

    outline: none;
    border: none;
    border-radius: 10px;
    background-color: ghostwhite;
  

}






