/* variável para a cor da animação de pulsação*/

:root {
    --pulseColor: rgba(94,64,179,.7)
}


/* ======= MEDIA QUERY PARA AJUDAR NA RESPONSIVIDADE DO NAVBAR========*/
@media only screen and (min-width: 1536px) {

    .header {
        width: 100%;
        
        padding: 0 30%;
        
    }
}

@media only screen and (min-width: 1250px) {

    .header {
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
        
        
    }
    .sala {
    
        padding-left: 1rem;
        padding-right: 15rem ;  
        width: 100%;
    }
    
    .sala h2{
    
        padding-left: 1rem;
        width: 100%;
      
    }

}

@media only screen and (min-width: 1080px) {

    .header {
        width: 100%;
        padding-right: 5%;
        padding-left: 5%;
        
        
    }
    .sala {
    
        padding-left: 1rem;
        padding-right: 15rem ;  
        width: 100%;
    }
    
    .sala h2{
    
        padding-left: 1rem;
        width: 100%;
      
    }

}


@media only screen and (max-width: 600px) {
  
    .header {
        padding-left: 1rem;
        padding-right: 1rem;

        transition: padding ease-in-out;
        width:100%;
    }
    .sala {
    
        padding-left: 0;
        padding-right: 12rem ;  
        width: 100%;
    }
    
    .sala h2{
    
        padding-left: 1rem;
        width: 100%;
      
    }

}

/* ======================= */

.voceEsta {
    margin-top: 4rem;
    text-align: center;
    font-size: large;
    
}

input {
    border: 1px solid black;
    border-radius: 30px;
    outline: none;
    text-align: center;
}

.salasContainer{
    margin-top: 1rem;
}

.voltarUnidade{
    color: rgb(123, 83, 233);
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.voltarUnidade:hover{
    color: rgb(80, 56, 146);
}


.wrapper {

    min-width: 19rem;
    min-height: 434px;
    max-height: 434px;
    max-width: 19rem;
    border-radius: 15px;
    margin: 1rem;
    
}

.wrapper img {
    max-height: 200px;
    min-height: 200px;
    height: 140px;
    object-fit: cover;

}

.wrapper h3{

    font-size: 2rem;

    text-align: center;
}

.wrapper p {

    text-align: center;
    font-size: 16px;
    
}


.enterButton {

    margin-top:1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    width: 15rem;
    height: 4rem;
    border-radius: 10px;

    transform: scale(1);
    animation: pulse 2s infinite;
    
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 var(--pulseColor);
	}

	70% {
		transform: scale(1.025);
		box-shadow: 0 0 0 10px rgba(94,64,179, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(94,64,179, 0);
	}
}

.deleteButton {

    
    margin: 1rem 25%;
    border-radius: 10px;
    display: inline-block;
    
    width:10rem;
    height: 3rem;
    text-align: center;

}

.deleteButton a {

    line-height: 3rem;
    width: 100%;
    text-align: center;
}

.enterButton a {

    line-height: 4rem;
    width: 14rem;
    text-align: center;
}



.criarSala {

    border-radius: 20px;

    margin: 1rem;
    min-width: 19rem;
    min-height: 434px;
    max-width: 19rem;
    max-height: 434px;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);

    background: linear-gradient(to left, transparent 50%, rgb(74, 50, 139) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.criarSala:hover {
    background-position: left;
    color: white;
}


.criarSala a {

    display: block;
    height: 0;
    width: 19rem;
    line-height: 434px;
    text-align: center;

    text-decoration: none;
}

.active {

    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;

    background-color: rgba(0, 0, 0, 0.5);

    display: none;
}


/* ========= MODAL ===========*/

.deleteRoom {

    overflow-y: hidden;

    position: absolute;
    top: 0;

    height: 500%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);

}

.modal {

    overflow-y: hidden;

    position:relative;
    display: block;
    margin: 35vh auto;
    height: 300px;
    width: 600px;


    background-color: #ebebeb;
    border-radius: 5px;
    color:black;

    display: grid;
    grid-template-columns: 1fr;

    
}


/*=== animação do fade in ====*/
.modal {

    animation-name: fadeIn;
    animation-duration:  0.2s;
    animation-timing-function: ease-in;
}

    @keyframes fadeIn{

        from {
            transform: translateY(-5%);
            opacity: 0
        }
        to {
            transform: translateY(0%);
            opacity: 1;
        }

    }


.closeButton {

    position: absolute;
    right: 0;
    padding: 5px 1rem 5px;

    font-size: 1rem;
    font-weight: bold;
    grid-row: 1;

    cursor: pointer;

  
    border-radius: 0 0 0 5px;

    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.5);

    transition: background-color 0.2s ease-in;
}

.closeButton:hover {

    color: whitesmoke;
    background-color: rgba(255, 60, 60, 0.5);
}

.message {

    text-align: center;
    grid-row: 2;
}

.input {
    grid-row: 3;
    margin: 0 auto;
}

.input span {

    font-weight: bold;
    color: rgb(0, 0, 0);
}

.delButton {

    font-size: medium;
    font-family: 'Nunito', sans-serif;
    

    margin: 0 auto;
    height: 3rem;
    width: 7rem;
    grid-row: 4;
    font-weight: bold;
    
    border-radius: 10px;

    background-color: rgba(107, 114, 128, 0.5);
    color: whitesmoke;
    
}

.delButton:hover {

    background-color: rgba(107, 114, 128, 1);
}

