.wrapper {

    background-color: gainsboro;
    margin: 2rem;
    height: 15rem;
    width: 15rem;

    padding: 2rem;
    
}

button {

    padding: 2rem;
    margin-top: 1em;
    text-align: center;
    height: 2em;
    justify-content: center;
    
}
