.option {

    padding: 2rem;
    margin: 1rem;

    min-width: 10rem;
    text-align: center;
    
}

.perfilLink {

 text-align: right;
 font-size: 1rem;

}

body {

    background-color: #e2e8f0;
}