img {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    display: inline-block;
}

.corBotoes {
    background-color: #1B9D42;
    font-size: 14px;
    padding: 10px 18px;
    margin-right: 10px;
}

.corBotoes:hover {
    background-color: rgb(20, 117, 49);
}

.desistir {
    background-color: red;
}

.desistir:hover{
    background-color: rgb(184, 2, 2);
}

#conteudo {
    font-size: 18px;
}

.container{
    border: 1px solid black;
    background-image: url("../assets/bck_1.png");
    padding: 50px;
    border-radius: 30px;
    color: white;
}

.corBotoes {
    margin-top: 30px;
}

.reportar {
    background-color: #E63F67;
    padding: 9px; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.reportar:hover {
    background-color: rgb(173, 48, 77);
}

.info {
    display: inline-block;
    background-color: rgb(243, 241, 241);
    color: rgb(70, 70, 70);
    padding: 5px;
    margin-left: -10px;
    width: 300px
}

#estouaqui {
    background-color: #E63F67;
    padding: 3px 10px;
    margin-top: 10px;
}

#estouaqui:hover {
    background-color: rgb(173, 48, 77);
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.leaveButton {

    grid-column: 2/3;
    grid-row: 1;

    width: 90%;
    height: 3rem;
    margin: 1rem auto;
    line-height: 3rem;
    color: white;
    background-color: red;

}

.leaveButton:hover{
    background-color: rgb(184, 2, 2);
}

.minhaVezButton {

    grid-column: 1/2;
    grid-row: 1;
    overflow-y: hidden;
    width: 90%;
    height: 3rem;
    margin: 1rem auto;
    line-height: 3rem;
    color: white;
    background-color:  #1B9D42;
}

.minhaVezButton:hover {
    background-color: rgb(20, 117, 49);
}

h3 {
    font-size: 30px;
}

@media only screen and (max-width: 600px){

    
    .info {
      
        width: fit-content
    }

    .buttons{
   
        grid-template-columns: 1fr ;
    }
    .leaveButton {
    
        grid-column: 1/2;
        grid-row: 2;
    
        width: 90%;
        height: 3rem;
        margin: 1rem auto;
        line-height: 3rem;
        color: white;
        background-color: red;
    
    }
    
    .leaveButton:hover{
        background-color: rgb(184, 2, 2);
    }
    
    .minhaVezButton {
    
        grid-column: 1/2;
        grid-row: 1;
        overflow-y: hidden;
        width: 90%;
        height: 3rem;
        margin: 1rem auto;
        line-height: 3rem;
        color: white;
        background-color:  #1B9D42;
    }
    
    .minhaVezButton:hover {
        background-color: rgb(20, 117, 49);
    }

}