img {
    border-radius: 50%;
    display: inline-block;
    margin-top: -13px;
}

#conteudo {
    font-size: 18px;
}

.container{
    border: 1px solid black;
    background: white;
    padding: 50px;
    border-radius: 30px;
}

.corBotoes {
    margin-top: 30px;
}