img {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    display: inline-block;
}

.corBotoes {
    background-color: #1B9D42;
    font-size: 14px;
    padding: 10px 18px;
    margin-right: 10px;
}

.corBotoes:hover {
    background-color: rgb(20, 117, 49);
}

.desistir {
    background-color: red;
}

.desistir:hover{
    background-color: rgb(196, 4, 4);
}

#conteudo {
    font-size: 18px;
}

.container{
    border: 1px solid black;
    background-image: url("../assets/bck_1.png");
    padding: 50px;
    border-radius: 30px;
    color: white;
}

.corBotoes {
    margin-top: 30px;
}