
:root {

    --fontColor: white;   
}

@media only screen and (max-width: 763px) {

    .logoDiv {
        background-color: black;

    }

    .logo {
        margin:;
        width: 80%;
        height: 90%;
        background-color: black;
    }

    .faixa {

        height: 100vh;
        background-color: black;
        width: 20rem;
        color: var(--fontColor);
        margin: 0 auto;
    }

    .faixa h3 {

        margin-top: 5vh;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        width: 83%;
    }
    .faixa p {
    
        font-size: 1rem;
        text-align: center;
        width: 83%;
    }
    .painel {

        color: white;
        padding: 2rem auto;
        width: 83%;
    
    }
}

.painel {

    color: white;
    padding: 2rem 2rem;

}

.faixa {

    height: 100vh;
    background-color: black;
    width: 30rem;
    color: var(--fontColor);
    margin: 0 auto;
}

.faixa h3 {
    margin-top: 20vh;
    
    font-size: 2.4rem;
    font-weight: bolder;
    text-align: center;
}
.faixa p {

    font-size: 1.4rem;
    text-align: center;
    font-weight: lighter;
}

.logoDiv {

    margin-right: 0;
    height: 100%;
    width: 100%;

}

.logo {

   
    padding-left: 10rem;
    object-fit: contain;
    height: 100%;
    width: 100%;
    
}

.logoDivReg {
    
    margin-right: 0;
    height: 100%;
    width: 100%;

}

.logoReg {

    
    padding-bottom: 10rem;
    padding-right: 10rem;
    object-fit: contain;
    height: 100%;
    width: 100%;
    
}


