
:root {

    --fontColor: white;   
}

@media only screen and (max-width: 763px) {

    .logoDiv {
        background-color: black;

    }

    .logo {
        margin:;
        width: 80%;
        height: 90%;
        background-color: black;
    }

    .faixa {

        height: 100vh;
        background-color: black;
        width: 20rem;
        color: var(--fontColor);
        margin: 0 auto;
    }

    .faixa h3 {
        margin-top: 5vh;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        width: 83%;
    }
    .faixa p {
    
        font-size: 1rem;
        text-align: center;
        width: 83%;
    }
    .painel {

        color: white;
        padding: 2rem auto;
        width: 83%;
    
    }
}
.painel {

    color: white;
    padding: 2rem 1rem;

}

.faixa {

    height: 100vh;
    background-color: black;
    width: 28rem;
    color: var(--fontColor);
    margin: 0 auto;
}

.faixa h3 {
    margin-top: 30vh;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.faixa p {

    font-size: 1rem;
    text-align: center;
}

.logoDiv {

    height: 100%;
    width: 100%;

}

.logo img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    
}
